<div class="restaurant-card">
  <p class="card-subtitle">NAME:</p>
  <p><%= @restaurant.name%></p>
  <br>
  <p class="card-subtitle">ADDRESS:</p>
  <p><%= @restaurant.address%></p>
  <br>
  <p class="card-subtitle">PHONE NUMBER:</p>
  <p><%= @restaurant.phone_number%></p>
  <br>
  <p class="card-subtitle">CATEGORY:</p>
  <p><%= @restaurant.category%></p>
  <br>
</div>
