<div class="review-card">
  <p class="card-title">REVIEW #<%= index + 1 %></p>
  <br>
  <p class="card-subtitle">RATING:</p>
  <p><%= review.rating %> / 5</p>
  <br>
  <p class="card-subtitle">CONTENT:</p>
  <p><%= review.content%></p>
  <br>
</div>
