<div class="container">
  <h1>Add a new review</h1>

  <%= render 'review_form' %>

  <div class="footer">
    <p><%= link_to "Go back to the list", restaurants_path %></p>
    <p><%= link_to "Go back to HomePage", root_path %></p>
  </div>
</div>
